<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatable" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TV Shows</title>
    </head>
    <body>
        <h1>{{title}}{{show.title}}</h1>
        {% with messages = get_flashed_messages() %} <!-- declare a variable called messages -->
            {% if messages %}  <!-- check if there are any messages -->
                {% for message in messages %}  <!-- loop through the messages -->
                    <p>{{message}}</p>  <!-- display each message in a paragraph tag -->
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action='/shows/{{form_function}}' method='POST'>
            <label for='title'>Title:  </label><input type='text' name='title' value={{show.title}}><br><br>
            <label for='network'>Network:  </label><input type='text' name='network' value={{show.network}}><br><br>
            <label for="release_date">Release Date:   </label>
            <input type="date" name="release_date" value={{show.release_date}}><br><br>
            <label for='description'>Description:</label><br>
            <textarea name='description' rows='4' cols='50'>{{show.description}}</textarea><br><br>
            <input type="hidden" name="user_id" value={{session['user_id']}}>
            <input type="hidden" name="id" value={{show.id}}>
            <input type='submit' value='{{form_function|capitalize}}'>
        </form><br>
        <a href='/users/dashboard'>TV Shows</a><br><br>
        <a href='/users/logout'>Logout</a>
    </body>
</html>
