<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatable" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TV Shows</title>
    </head>
    <body>
        <h2>Show:  <strong>{{show.title}}</strong></h2>
        <h2>Network:  {{show.network}}</h2>
        <h2>Release Date:  {{show.release_date}}</h2>
        <h3>Description:  {{show.description}}</h3>
        <br><br>
        <h3><strong>Liked By:  {{num_likes}}</strong></h3>
        <br><br>
        <h4>Posted By:  {{poster_name}}</h4> 
        <br><br>
        <a href="/users/dashboard">TV Shows</a><br><br>
        <a href="/users/logout">Logout</a>
    </body>
</html>
